/* global styles */

body {
    font-size: 15px;
    background: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Overpass', sans-serif;
}

section {
    background: hsl(213, 19%, 18%);
    padding: 30px 20px;
    border-radius: 20px;
}

header {
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(210, 16%, 22%);
}

header img {
    width: 15px;
    height: 15px;
}

.text {
    margin-bottom: 20px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

p {
    color: hsl(216, 12%, 54%);
}

.text button {
    background: hsl(210, 16%, 22%);
    color: hsl(217, 12%, 63%);
    width: 45px;
    height: 45px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 95%;
    padding: 15px 10px;
    text-align: center;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    background: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
}


.thank{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

.thank img{
    margin-bottom: 15px;
    width: 100px;
}

.thank h4,.thank h2{
    margin-bottom: 10px;
}

.thank p{
    margin: 10px 0;
}

h4{
    background: hsl(210, 16%, 22%);
    padding: 7px 15px;
    border-radius: 25px;
    color: hsl(25, 97%, 53%);
}

.hide{
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* mobile styles */

section {
    width: fit-content;
    margin: 100px 20px;
}

p {
    font-size: 16px;
}

.text button:hover {
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    transition: 0.2s;
}

button:active {
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}